services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: starburger
      POSTGRES_USER: starburger
      POSTGRES_PASSWORD: starburger
    volumes:
      - dev-dbdata:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - ./backend/media:/opt/app/media

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    command: ["sh", "-c", "tail -f /dev/null"]

volumes:
  dev-dbdata:
