version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: starburger
      POSTGRES_USER: starburger
      POSTGRES_PASSWORD: starburger
    volumes:
      - dbdata:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    env_file:
      - .env   # здесь твои DJANGO_DEBUG, DB_URL и т.п.
    volumes:
      - .:/opt/app
      - media:/opt/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    volumes:
      - .:/opt/frontend
    ports:
      - "1234:1234"  # если Parcel слушает 1234
    depends_on:
      - backend

volumes:
  dbdata:
  media: