services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: starburger
      POSTGRES_USER: starburger
      POSTGRES_PASSWORD: starburger
    volumes:
      - dbdata:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env.prod
    depends_on:
      - db
    volumes:
      - static:/opt/app/staticfiles
      - media:/opt/app/media

  nginx:
    image: nginx:1.27-alpine
    depends_on:
      - backend
    volumes:
      - static:/var/www/static
      - media:/var/www/media
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"

volumes:
  dbdata:
  static:
  media: