asgiref==3.8.1
backports-datetime-fromisoformat==2.0.3
certifi==2025.6.15
charset-normalizer==3.4.2
dj-database-url==2.2.0
dj-email-url==1.0.6
Django==5.2.1
django-cache-url==3.4.5
django-debug-toolbar==5.2.0
django-phonenumber-field==6.4.0
djangorestframework==3.16.0
environs==9.3.2
geographiclib==2.0
geopy==2.4.1
idna==3.10
marshmallow==3.20.1
packaging==25.0
phonenumberslite==9.0.5
Pillow==8.2.0
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.4
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.5.0
environs[django]==9.3.2